body {
    margin-top: 2em;
}

.blue {
    background-color: lightblue;
    border-color: darkblue;
}

.yellow {
    background-color: khaki;
    border-color: darkkhaki;
}

.green {
    background-color: lightgreen;
    border-color: darkgreen;
}

.red {
    background-color: salmon;
    border-color: darkred;
}
