@{
    ViewBag.Title = "Validated Datalist Demo Using Knockout";
}

<div class="container">
    <input class="form-control" list="company" type="text" placeholder="Select a user..." data-bind="textInput: val,
  datalist: {
    options: users,
    optionsText: 'name',
    value: selectedUser
  },
  class: validationColor" />
    <h4>
        Demo (full validation takes place "onchange"):
    </h4>
    <ul>
        <li>Select or type a value in the list for <span class="green">green</span></li>
        <li>Type a name that's not in the the list for <span class="yellow">yellow</span></li>
        <li>Type the original value, an empty string in this demo, for <span class="blue">blue</span></li>
        <li>Enter some special characters to fail valdation and show <span class="red">red</span></li>
    </ul>

    <hr />
    <p>View Model:</p>
    <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>

</div>
